
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
display:flex;
color:white;
}

.sidebar{
width:270px;
height:100vh;
background:#1e293b;
padding:25px;
display:flex;
flex-direction:column;
justify-content:space-between;
position:fixed;
}

.logo{
font-size:28px;
font-weight:700;
color:#facc15;
margin-bottom:40px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
margin-bottom:12px;
}

.menu a{
display:flex;
align-items:center;
gap:12px;
padding:14px;
border-radius:12px;
color:white;
text-decoration:none;
transition:.3s;
}

.menu a:hover,
.menu .active a{
background:#334155;
color:#facc15;
}

.user-box{
display:flex;
align-items:center;
gap:10px;
padding:15px;
background:#334155;
border-radius:15px;
}

.user-box img{
width:50px;
height:50px;
border-radius:50%;
}

.main-content{
margin-left:270px;
width:100%;
padding:30px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.icons i{
font-size:24px;
margin-left:20px;
cursor:pointer;
}

.card-stat{
background:#1e293b;
padding:25px;
border-radius:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.card-stat i{
font-size:40px;
color:#facc15;
}

.card-stat span{
color:#94a3b8;
}

.map-card,
.request-card,
.history-card{
background:#1e293b;
padding:20px;
border-radius:20px;
}

#map{
height:450px;
background:#334155;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
font-size:25px;
margin-top:15px;
}

.section-title{
font-size:20px;
font-weight:600;
margin-bottom:15px;
}

.form-control{
height:55px;
background:#334155;
border:none;
color:white;
}

.form-control:focus{
background:#475569;
color:white;
box-shadow:none;
}

.btn-request{
width:100%;
height:55px;
background:#facc15;
border:none;
border-radius:12px;
font-weight:600;
}

.table{
margin-bottom:0;
}